body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw; 
  z-index: 1;
}
nav ul li {
  float: right;
  margin-right: 50px;
  list-style-type: none;
  text-align: center;
}
#brand {
  float: left;
}
.nav-link {
  color: #d96016;
  text-decoration: none;
  font-family: 'Acme', sans-serif;
}
.nav-link:hover {
  color: #d96016;
  font-weight: bold;
}
#brand .nav-link{
  color: #98d2d4;
  font-size: 14pt;
}
#brand .nav-link:hover {
  color: #263a3b;
}
h1 {
  color: #ffffff;
  font-size: 60pt;
  font-family: 'Acme', sans-serif;
}
#home {
  margin-top; 50px;
  position: relative;
  left: -8px;
  width: 100vw;
  height: 30vh;
  padding-top: 3em;
  background: url('./assets/plantbackground.jpg') center 75% no-repeat fixed;
  background-size: cover;
}
.header-tag {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
  }
h3.header-tag {
  margin-top: -30px;
  font-size: 18pt;
}
h2 {
  font-family: 'Acme', sans-serif;
  color: black;
}
.main {
  text-align: center;
}
  #about {
    margin-top: 50px;
    display: inline-block;
  }
#about-picture {
  width: 30vw;
  float: left;
}
#profile-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 4em;
  box-shadow: 1px 1px 1px gray;
}
#about-content {
  width: 40vw;
  float: right;
}
#video {
  margin-top: 50px;
}